<p id="notice"><%= notice %></p>

<h1>Mails</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Title</th>
      <th>Massage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mails.each do |mail| %>
      <tr>
        <td><%= mail.from %></td>
        <td><%= mail.to %></td>
        <td><%= mail.title %></td>
        <td><%= mail.massage %></td>
        <td><%= link_to 'Show', mail %></td>
        <td><%= link_to 'Edit', edit_mail_path(mail) %></td>
        <td><%= link_to 'Destroy', mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail', new_mail_path %>
